<!-- Start H1 Title -->
<div class="titlesnormal">
  <h1>Login</h1>
  <span></span>
</div>
<!-- End H1 Title -->
<!-- Start Main Body Wrap -->
<div id="main-wrap">
  <!-- Start Full Width -->
  <div class="boxes-full">
    <div class="boxes-padding fullpadding">
      <div id="contactwarning"></div>
      <div id="contactajax"></div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" id="ajaxcontactform">
        <div class="contacttextboxes">
          <fieldset>
            <h3>UserName</h3>
            <input id="userName" [(ngModel)]="model.userName" name="userName" type="text" class="contacttextform" onFocus="if (this.value == 'User Name') {this.value = '';}"
              value="User Name">
          </fieldset>
          <fieldset>
            <h3>Password</h3>
            <input id="password" [(ngModel)]="model.password" name="password" type="text" class="contacttextform" onFocus="if (this.value == 'Password') {this.value = '';}"
              value="Password">
          </fieldset>
          <fieldset>
            <input name="send" type="submit" class="contactformbutton" value="Login">
          </fieldset>
        </div>
      </form>
    </div>
    <span class="box-arrow"></span>
  </div>
  <!-- End Full Width -->
</div>
<!-- End Main Body Wrap -->