  <!-- Start H1 Title -->
  <div class="titlesnormal">
    <h1>Response Blogging Page</h1>
    <span></span> </div>
  <!-- End H1 Title -->
  <!-- Start Main Body Wrap -->
  <div id="main-wrap">
    <!-- Start Left Section -->
    <div class="leftsection">
      <!-- Start Blog Post -->
      <div class="blogwrapstart">
        <div class="blogtitle">
          <h3><a href="blog-post.html">5 ways to get top of google</a></h3>
        </div>
        <div class="blogbody">
          <!-- Start Blog Image -->
          <div class="blogimage"><a href="blog-post.html"><img src="/assets/images/5google.jpg" alt=""></a></div>
          <!-- End Blog Text -->
          <!-- Start Blog Information -->
          <div class="bloginfo">
            <p class="usericon">Posted By: <span>Admin</span></p>
            <p class="calendericon">On: <span>March 15th 2010</span></p>
            <p class="settingsicon">Category: <span>Loremipsom</span></p>
            <p class="tagicon">Tags: <span>SEO, Google</span></p>
          </div>
          <!-- End Blog Information -->
          <!-- Start Blog Text -->
          <div class="blogtext">
            <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.</p>
            <p class="blogbutton"><a routerLink="/blogpost" class="smallsmoothrectange orangebutton">Read More</a></p>
          </div>
          <!-- End Blog Text -->
        </div>
        <span class="box-arrow"></span> </div>
      <!-- End Blog Post -->
      <!-- Start Blog Post -->
      <div class="blogwrap">
        <div class="blogtitle">
          <h3><a href="blog-post.html">5 ways to make your code cleaner</a></h3>
        </div>
        <div class="blogbody">
          <!-- Start Blog Image -->
          <div class="blogimage"><a href="blog-post.html"><img src="/assets/images/5code.jpg" alt=""></a></div>
          <!-- End Blog Text -->
          <!-- Start Blog Information -->
          <div class="bloginfo">
            <p class="usericon">Posted By: <span>Admin</span></p>
            <p class="calendericon">On: <span>March 15th 2010</span></p>
            <p class="settingsicon">Category: <span>Loremipsom</span></p>
            <p class="tagicon">Tags: <span>SEO, Google</span></p>
          </div>
          <!-- End Blog Information -->
          <!-- Start Blog Text -->
          <div class="blogtext">
            <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.</p>
            <p class="blogbutton"><a routerLink="/blogpost" class="smallsmoothrectange orangebutton">Read More</a></p>
          </div>
          <!-- End Blog Text -->
        </div>
        <span class="box-arrow"></span> </div>
      <!-- End Blog Post -->
      <!-- Start Blog Post -->
      <div class="blogwrap">
        <div class="blogtitle">
          <h3><a href="blog-post.html">how to sell on themeforest</a></h3>
        </div>
        <div class="blogbody">
          <!-- Start Blog Image -->
          <div class="blogimage"><a href="blog-post.html"><img src="/assets/images/selltheme.jpg" alt=""></a></div>
          <!-- End Blog Text -->
          <!-- Start Blog Information -->
          <div class="bloginfo">
            <p class="usericon">Posted By: <span>Admin</span></p>
            <p class="calendericon">On: <span>March 15th 2010</span></p>
            <p class="settingsicon">Category: <span>Loremipsom</span></p>
            <p class="tagicon">Tags: <span>SEO, Google</span></p>
          </div>
          <!-- End Blog Information -->
          <!-- Start Blog Text -->
          <div class="blogtext">
            <p>Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.Lorem ipsum dolor sit amet, consectetur elit. Maecenas non ipsum nunc, nec sagittis tellus Maecenas non ipsum nunc, nec sagittis tellus.</p>
            <p class="blogbutton"><a routerLink="/blogpost" class="smallsmoothrectange orangebutton">Read More</a></p>
          </div>
          <!-- End Blog Text -->
        </div>
        <span class="box-arrow"></span> </div>
      <!-- End Blog Post -->
      <!-- Start Pagination -->
      <div class="blogwrap">
        <div class="blogpagination">
          <ul>
            <li><a href="#" class="normal">Start</a></li>
            <li><a href="#" class="normal">&lt;Prev</a></li>
            <li><a href="#" class="normal">1</a></li>
            <li><a href="#" class="normal">2</a></li>
            <li><a href="#" class="normal">3</a></li>
            <li><a href="#" class="normal">4</a></li>
            <li><a href="#" class="normalactive">5</a></li>
            <li><a href="#" class="normal">6</a></li>
            <li><a href="#" class="normal">7</a></li>
            <li><a href="#" class="normal">8</a></li>
            <li><a href="#" class="normal">9</a></li>
            <li><a href="#" class="normal">10</a></li>
            <li><a href="#" class="normal">Next&gt;</a></li>
            <li><a href="#" class="normal">Last</a></li>
          </ul>
        </div>
        <span class="box-arrow"></span> </div>
      <!-- End Pagination -->
    </div>
    <!-- End Left Section -->
    <!-- Start Right Section -->
    <div class="rightsection">
      <!-- Start Blog Widget -->
      <div class="blogwidgetstart">
        <!-- Start Advertising Widget -->
        <div class="widgettitle">
          <h4>Advertising</h4>
        </div>
        <div class="widgetbody">
          <div class="blogadvertising"> <a href="#"><img src="/assets/images/advertising/themeadvertising.jpg"  alt=""></a> <a href="#"><img src="/assets/images/advertising/audioadvertising.jpg" alt=""></a> <a href="#"><img src="/assets/images/advertising/graphicadvertising.jpg" alt=""></a> <a href="#"><img src="/assets/images/advertising/tutorialadvertising.jpg" alt=""></a> </div>
        </div>
        <!-- End Advertising Widget -->
        <span class="box-arrow"></span> </div>
      <!-- End Blog Widget -->
      <!-- Start Blog Widget -->
      <div class="blogwidget">
        <!-- Start Categories Widget -->
        <div class="widgettitle">
          <h4>Blog Categories</h4>
        </div>
        <div class="widgetbody">
          <div class="blogcategories">
            <ul>
              <li><a href="#">All Blogs</a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
            </ul>
          </div>
        </div>
        <!-- End Categories Widget -->
        <span class="box-arrow"></span> </div>
      <!-- End Blog Widget -->
      <!-- Start Blog Widget -->
      <div class="blogwidget">
        <!-- Start Categories Widget -->
        <div class="widgettitle">
          <h4>Top 5 Blog Posts</h4>
        </div>
        <div class="widgetbody">
          <div class="blogcategories">
            <ul>
              <li><a href="#">Maecenas non ipsum nunc</a></li>
              <li><a href="#">Lorem ipsum dolor </a></li>
              <li><a href="#">Maecenas non ipsum </a></li>
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li><a href="#">Maecenas non ipsum nunc</a></li>
            </ul>
          </div>
        </div>
        <!-- End Categories Widget -->
        <span class="box-arrow"></span> </div>
      <!-- End Blog Widget -->
    </div>
    <!-- End Right Section -->
  </div>
  <!-- End Main Body Wrap -->
