
  <!-- Start H1 Title -->
  <div class="titlesnormal">
    <h1>contact response</h1>
    <span></span> </div>
  <!-- End H1 Title -->
  <!-- Start Main Body Wrap -->
  <div id="main-wrap">
    <!-- Start Left Section -->
    <div class="leftsection">
      <!-- Start Google Maps -->
      <div class="blogwrapstart">
        <div id="map_canvas"></div>
        <span class="box-arrow"></span> </div>
      <!-- End Google Maps -->
    </div>
    <!-- End Left Section -->
    <!-- Start Right Section -->
    <div class="rightsection">
      <!-- Start Blog Widget -->
      <div class="blogwidgetstart">
        <!-- Start Categories Widget -->
        <div class="widgettitle">
          <h4>Contact Details</h4>
        </div>
        <div class="widgetbody">
          <div class="blogcategories">
            <div class="contactdetails">
              <p>info@domainname.com</p>
              <p>+44 1234 567 890</p>
              <p>12 Address Road<br>
                Madeup Town<br>
                Madeup City<br>
                Zip12 0de</p>
            </div>
          </div>
        </div>
        <!-- End Categories Widget -->
        <span class="box-arrow"></span> </div>
      <!-- End Blog Widget -->
    </div>
    <!-- End Right Section -->
    <!-- Start Full Width -->
    <div class="boxes-full">
      <div class="contacttitle">
        <h2>Contact Responsive</h2>
      </div>
      <div class="boxes-padding fullpadding">
        <div id="contactwarning"></div>
        <div id="contactajax"></div>
        <form action="#" method="post" name="ajaxcontactform" id="ajaxcontactform">
          <div class="contacttextarea">
            <input name="contactformid" id="contactformid" type="hidden" value="1">
            <fieldset>
              <textarea name="comment" id="comment" cols="5" rows="5" class="contacttextarea"onfocus="if (this.value == 'Please Leave A Message') {this.value = '';}">Please Leave A Message</textarea>
            </fieldset>
          </div>
          <div class="contacttextboxes">
            <fieldset>
              <input id="name" name="name" type="text" class="contacttextform" onFocus="if (this.value == 'Please Insert Your Name') {this.value = '';}" value="Please Insert Your Name">
            </fieldset>
            <fieldset>
              <input id="phone" name="phone" type="text" class="contacttextform" onFocus="if (this.value == 'Please Insert Your Phone Number') {this.value = '';}" value="Please Insert Your Phone Number">
            </fieldset>
            <fieldset>
              <input id="email" name="email" type="text" class="contacttextform" onFocus="if (this.value == 'Please Insert Your Email') {this.value = '';}" value="Please Insert Your Email">
            </fieldset>
            <fieldset>
              <input name="send" type="submit" class="contactformbutton" value="Send">
            </fieldset>
          </div>
        </form>
      </div>
      <span class="box-arrow"></span> </div>
    <!-- End Full Width -->
  </div>
  <!-- End Main Body Wrap -->
